/* Base Styles */
body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f9f9f9; }

header { background-color: #333; color: white; padding: 10px; text-align: center; }

nav ul { list-style: none; margin: 0; padding: 0; }

nav ul li { display: inline; margin: 0 15px; }

nav ul li a { color: white; text-decoration: none; }

main { padding: 20px; text-align: center; }

#branding, #about { margin: 50px auto; padding: 20px; border: 1px solid #ddd; max-width: 600px; background-color: white; }

h1, h2 { color: #333; }

p { color: #666; }

a { color: #0073e6; text-decoration: none; }

a:hover { text-decoration: underline; }

ul {list-style-type: none; padding: 0; margin: 0;}